apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-main
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}-main
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}-main
